<div class="people-container">
    <h1 class="heading">Species</h1>
    <md-button ng-click="toggleLeft()" class="md-raised md-primary show-gt-sm" aria-label="Settings">
        Click here to open list
    </md-button>
    <section layout="row" flex>
        <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open=$mdMedia('gt-sm') md-whiteframe="4">
            <md-list class="list">
                <md-list-item ng-show="viewState.showProgressBar">
                    <md-progress-linear md-mode="indeterminate"></md-progress-linear>
                </md-list-item>
                <md-list-item ng-show="!viewState.showProgressBar">
                    <md-input-container>
                        <input name="description" placeholder="Search species" ng-model="viewState.searchTerm">
                    </md-input-container>
                </md-list-item>
                <md-list-item ng-class="{'md-active': _species.name == viewState.activeSpecies.name}" ng-show="!viewState.showProgressBar" ng-repeat="_species in viewState.species | filter: viewState.searchTerm"
                    ng-click="setActiveSpecies(_species)">
                    <h3>{{_species.name}}</h3>
                </md-list-item>
                <md-list-item>
                    <md-button class="md-raised md-primary" ng-disabled="viewState.prevBtnDisabled" ng-click="getPrevSpecies()">Previous</md-button>
                    <md-button class="md-raised md-primary" ng-disabled="viewState.nextBtnDisabled" ng-click="getNextSpecies()">Next</md-button>
                </md-list-item>
                <md-list-item>
                   <h4>(Page {{viewState.pageId}} of {{viewState.pageNumbers.length}})</h4>
                </md-list-item>
            </md-list>
        </md-sidenav>
        <md-content flex class="content">
            <h1 ng-if="viewState.errorMessage">
                {{viewState.errorMessage}}
            </h1>
            <div layout="column" layout-align="top" ng-show="!viewState.showProgressBar && !viewState.errorMessage">
                <h1>
                    {{viewState.activeSpecies.name}}
                </h1>
                <ul class="list-group">
                    <li class="list-group-item justify-content-between">
                        Average height: <b>{{viewState.activeSpecies.average_height}}</b>
                    </li>
                    <li class="list-group-item justify-content-between">
                        Average lifespan: <b>{{viewState.activeSpecies.average_lifespan}}</b>
                    </li>
                    <li class="list-group-item justify-content-between">
                        Classification: <b>{{viewState.activeSpecies.classification}}</b>
                    </li>
                    <li class="list-group-item justify-content-between">
                        Designation: <b>{{viewState.activeSpecies.designation}}</b>
                    </li>
                    <li class="list-group-item justify-content-between">
                        Eye colors: <b>{{viewState.activeSpecies.eye_colors}}</b>
                    </li>
                    <li class="list-group-item justify-content-between">
                        Hair colors: <b>{{viewState.activeSpecies.hair_colors}}</b>
                    </li>
                    <li class="list-group-item justify-content-between">
                        Skin colors: <b>{{viewState.activeSpecies.skin_colors}}</b>
                    </li>
                    <li class="list-group-item justify-content-between">
                        Language: <b>{{viewState.activeSpecies.language}}</b>
                    </li>
                     <li class="list-group-item justify-content-between">
                        Home world: <b>{{viewState.activeSpecies.homeworld}}</b>
                    </li>
                    <li class="list-group-item justify-content-between" ng-if="viewState.activeSpecies.people.length > 0">
                        Total number of people that are part of {{viewState.activeSpecies.name}}
                        <span class="badge badge-default badge-info">{{viewState.activeSpecies.people.length}}</span>
                    </li>
                    <li class="list-group-item justify-content-between" ng-if="viewState.activeSpecies.films.length > 0">
                        Total number of films that {{viewState.activeSpecies.name}} has appeared in
                        <span class="badge badge-default badge-info">{{viewState.activeSpecies.films.length}}</span>
                    </li>
                </ul>
            </div>
        </md-content>
    </section>
</div>